.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  /* height: 40vmin; */
  height: 50px;
  width: 50px;
  pointer-events: none;
  margin-top: 200px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .index-nav {
    display: inline-block;
} */


.App ul {
    list-style: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.App li {
    display: inline;
    margin: 4px;
}

.profile-logo {
    height: 100px;
    width: 100px;
}
.primary-nav {
    text-align:center;
}

.logo-default {
    width: 80px;
    max-height: 80px;
}