/* Global */
.card {
  max-width: 1800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 64px;
  align-self: center;
}

/* Global */
.gone {
  visibility: hidden;
  height: 0;
  width: 0;
}

.amazonColorLight {
  color: #f90 !important;
}

.amazonColorDark {
  color: #b92c00 !important;
}

.michiganColorLight {
  color: #ffcb05 !important;
}

.michiganColorDark {
  color: #00274c !important;
}

.androidColorLight {
  color: #a4c639 !important;
}

.androidColorDark {
  color: #526b00 !important;
}

.webColorLight {
  color: #61dbfb !important;
}

.webColorDark {
  color: #006a86 !important;
}

.gimbleColorLight {
  color: #83b2da !important;
}

.gimbleColorDark {
  color: #0072d4 !important;
}

.cardHeader {
  padding: 0 !important;
}

/* Global */
@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img[src=""] {
  display: none;
}
