.flat-card {
    padding: 12px;
    margin: 8px;
}

#diversity-button-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#pride-title {
    align-self: flex-start;
}

#pride-switch {
    align-self: flex-end;
}